body {
  font-family: Helvetica;
  background-image: url(#);
}

.header {
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-image: url(#);
}

.nav {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.heading {
  color: white;
  background-image: url(#);
}

p.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
